.notice-container {
    width: 80%; /* FullCalendar의 크기 조정 */
    margin: 0 auto; /* 가운데 정렬 */
    margin-top: 8rem; /* NavBar 아래로 내리기 위한 여백 */
  }
  

  .notices {
    height: calc(100vh - 8rem); /* FullCalendar의 높이 조정 */
  }
  